In [ ]:
# n c r 

def fact (n):
    temp = 1
    for i in range (1,n+1):
        temp *= i
    return temp
n = int(input("enter the n"))
r = int(input("enter the r"))
n_fact = fact(n)
r_fact = fact(r)
n_r_fact = fact(n-r)
cal = n_fact/(r_fact * n_r_fact)
print("nCr value is:",cal)

nCr value is: 70.0

In [8]:
def print_info(name,id,age):
    print(name+id)
    print('age is:' ,age)

print_info('raju','23ehd', 20)    
print_info(id='raju',name = '23ehd', age = 20)

raju23ehd
age is: 20
23ehdraju
age is: 20

In [20]:

def prime(n):
    if n ==2 or n==3 or n== 5 or n == 7:
        return True
    else:
        return False
lst  = [3,2,4,5,3,7,8,9,4,3,2,1]                        
ans = 0
for i in lst:
    if (prime(i)) :
        ans += i
print(ans)

25

# higher order function

In [ ]:
#lamda function
   ''' lamda returns function 
    used to simplify the code 
     syntex - lamda (argument : expression)
    '''

In [ ]:
x = lambda n:n*n*n
print(type(x))
print(x(3))

<class 'function'>
27

In [ ]:
print((lambda n:n*n*n)(3))

27

In [ ]:
a = int(input())
b = int(input())
c = int(input())
print((lambda a,b,c:(a+b+c)/3 )(a,b,c))

8.0

In [ ]:
y = (lambda x:x[0]==0 )
y ('hello')

False

In [ ]:
a = lambda n : "Even " if n%2==0 else "odd"
print(a(5))

odd

In [ ]:
prime = lambda n: n,'is prime number' if n ==2 or n ==5 or n==3 or n==7  else "not prime"
print(prime(5))

TypeError: 'tuple' object is not callable

## higher order function

    1) map ,filter ,reduce

In [ ]:
#map
##syntex - map(function,sequence)

# squar ethe item of list 
lst = [1,2,3,4,5,6]
x = list(map(lambda x:x*x,lst))
print(x)

[1, 4, 9, 16, 25, 36]

In [ ]:
lst = [1.25,3.22,4.68,10.95,23.25,12]
x = list(map(lambda x:3.14*x**2,lst))
print(x)

[4.90625, 32.556776000000006, 68.773536, 376.49385, 1697.36625, 452.16]

In [ ]:
lst = ['hello','hii','bye', 'raju', 'vedant']
x = list(map(lambda x: x.upper(),lst))
print(x)

['HELLO', 'HII', 'BYE', 'RAJU', 'VEDANT']

## filter

In [ ]:
# filter
#syntex - filter(function,sequence )

In [56]:
lst = [1,3,5,6,7,8,4,3,2,4,94,65,7,8,9,0]
var  = list(filter(lambda x: x>4,lst))
var

[5, 6, 7, 8, 94, 65, 7, 8, 9]

In [ ]:
lst = ['hello','hii','bye', 'raju', 'vedant', 'abcd','apple']
a = list(filter(lambda x:x for x in lst  if x[0]==a,lst))
print(a)

SyntaxError: Generator expression must be parenthesized (2562358743.py, line 2)

##reduce()

In [ ]:
# reduce
from functools import reduce

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]
a = reduce(lambda x,y:x+y,l)
print(a)

55

In [ ]:
a= int(input('enter the number'))
n = reduce(lambda x,y: x*y,range(1,a+1) )
print(n)

120

In [ ]:
l = [1,2,3,4,4,5,5,6,8,6,7,3]
y = reduce(lambda x,y:x if x<y else y, l)
print(y)

1

## exception handling

In [ ]:
try:
    lst = [1,2,3,44,5,5,5,3,4,1,4,3,3]
    print(lst[90])
    print(b)
    print(5/0)
except IndexError:
    print('index is out of range please enter the valid index')
except NameError:
    print('variable is not define')
except ZeroDivisionError:
    print('cancot divide by zero')

index is out of range please enter the valid index

generic exception

In [ ]:
try:
    lst = [1,2,3,44,5,5,5,3,4,1,4,3,3]
    print(lst[90])
except Exception as e :
    print(e)

list index out of range