In [1]:
#creating empty list 
lst  = []
lst1 = list()

## update list

In [3]:
fruits = ['apple', 'banana', ' cherry', 'kiwi','guava']

In [8]:
fruits[-3] = 'watermelon'
print(fruits)

['apple', 'banana', 'watermelon', 'kiwi', 'guava']

add the element in the last

In [11]:
fruits.append('lichi')
print(fruits)

['apple', 'banana', 'watermelon', 'kiwi', 'guava', 'lichi', 'lichi', 'lichi']

insert at specific position

In [17]:
fruits.insert(3,'hii')
print(fruits)

['apple', 'banana', 'watermelon', 'hii', 'hii', 'hello', 'hello', 'kiwi', 'guava', 'hii', 'lichi', 'lichi', 'lichi']

## extend

In [19]:
list1 = [1,2,3]
list2 = [4,5,6]
list2.append(list1)
print(list2)

[4, 5, 6, [1, 2, 3]]

In [21]:
list2.extend(list1)
print(list2)

[4, 5, 6, [1, 2, 3], 1, 2, 3, 1, 2, 3]

In [22]:
list1 = [1,2,3,[4,7],9]
list2 = [4,5,6]
list2.extend(list1)
print(list2)

[4, 5, 6, 1, 2, 3, [4, 7], 9]

In [24]:
del list2[3]
print(list2)

[4, 5, 6, 3, [4, 7], 9]

## del

In [27]:
del list1
print(list1)

NameError: name 'list1' is not defined

## pop()

In [28]:
lst = [1,2,3,4,5]
a = lst.pop(3)
print(lst)
print(a)

[1, 2, 3, 5]
4

## remove()

In [29]:
lst = [1,2,3,4,2,1,1,2,3,4,5,1,'qww']
print(lst)
lst.remove(1)
print(lst)

[1, 2, 3, 4, 2, 1, 1, 2, 3, 4, 5, 1, 'qww']
[2, 3, 4, 2, 1, 1, 2, 3, 4, 5, 1, 'qww']

count()

In [31]:
num = [1,2,3,4,5,5,5,5,4,3,3,3,21]
print(num.count(5))

4

In [32]:
## reverse()

In [38]:
num.reverse()
#[::-1]
print(num)

[21, 3, 3, 3, 4, 5, 5, 5, 5, 4, 3, 2, 1]

## index

In [40]:
lst = [ 2,5,'asdfg',2]
lst.index(5)

1

In [41]:
num = [11,22,33,4,5]
for i in range(len(num)):
    print(num[i])

11
22
33
4
5

In [44]:
lst = [3,5,7,9,2,4,8,11,12,14]
e = 0
o = 0
for i in lst:
    if i%2 == 0:
        e += 1
    else:
        o+=1
print("e =",e,"o =",o)

e = 5 o = 5

In [53]:
lst = eval(input())
#lst= [1,2,3,4,4,5,5]
for  i in range(len(lst)):
    if lst[i]%2==0:
        lst[i]+=5
    else :
        lst[i]-=3
print(lst)

[-2, 7, 0, 9, 2]

In [2]:
lst = [3,5,7,9,2,8,11,15,12,14]
for i in range(0,len(lst),2):
    lst[i],lst[i+1] = lst[i+1],lst[i]
print(lst)

[5, 3, 9, 7, 8, 2, 15, 11, 14, 12]

In [5]:
# wap which print largest element of the list 
lst = [3,5,7,9,2,8,11,15,12,14]
temp = lst[0]
 
for i in range(0,len(lst)):
    if lst[i] > temp:
        temp = lst[i]
print(temp)

15

In [22]:
# second largest 
lst = [3,5,7,9,2,8,11,15,12,14,]
max_1 = lst[0]
max_2 = lst[1]
for i in range(2,len(lst)):
    if lst[i] > max_1:
        max_2 = max_1
        max_1 = lst[i]
    
    elif lst[i] > max_2:
        max_2 = lst[i]
print(max_2)

14

In [27]:
lst = [1,2,3,4,5,6,7,8,9,10]
num = int(input('enter the number '))
temp = 0
for i in range(1,len(lst)):
    if num % lst[i]== 0:
       temp += lst[i]
print(temp)

8

In [61]:
lst = [25,3,2,20,8,16,6,12,10]
lst.reverse()
temp = lst[0]
lst1 =[]
for i in lst:
    if i > temp:
        temp = i
        lst1.append(temp)
lst1.reverse()        
print(lst1)

[25, 20, 16, 12]

In [68]:
lst = [25,3,2,20,8,16,6,12,10]
temp = lst[0]
lst1 =[temp]
for i in lst:
    if i > temp:
        temp = i
        lst1.append(lst1)       
print(lst1)

[25]

In [74]:
lst = [3,5,7,2,8,9]
lst1 = []
for i in lst:
    lst1.append(i*i)
    
print(lst1)

[9, 25, 49, 4, 64, 81]

In [ ]:
lst = [3,5,7,2,8,9]
lst1 = [ i**2 for i in lst]
print(lst1)

[49]

In [84]:
lst = [3,5,-7,8,-3,12,-18,-23]
lst1 = [ i for i in lst if i>0]
lst2 = [ i for i  in lst if i < 0]
print(lst1)
print(lst2)

[3, 5, 8, 12]
[-7, -3, -18, -23]

In [94]:
lst = [3,5,7,2,8,9,12,13,15]
lst1 = ['even' if i%2==0 else 'odd' for i in lst ]
lst1

['odd', 'odd', 'odd', 'even', 'even', 'odd', 'even', 'odd', 'odd']

sort sorted

In [97]:
num = [1,2,4,3,5,6,87,9303,654]
num.sort()
print(num)
num.sort(reverse = True)
num

[1, 2, 3, 4, 5, 6, 87, 654, 9303]

[9303, 654, 87, 6, 5, 4, 3, 2, 1]

In [101]:
num = [1,2,4,3,5,6,87,9303,654]
x = sorted(num,reverse=True)
print(x)
num

[9303, 654, 87, 6, 5, 4, 3, 2, 1]

[1, 2, 4, 3, 5, 6, 87, 9303, 654]

In [102]:
min(num)

1

In [103]:
max(num)

9303

In [104]:
sum(num)

10065

In [ ]:
lst = [[3,5,7,9],[8,2,5,9],[7,3,5,8],[8,3,2]]

lst3 = [max(i) for i in lst ] 
    
print(lst3)

[9, 9, 8, 8]

In [155]:
lst = [[3,5,7,9],[8,2,5,9],[7,3,5,8],[8,3,2]]
lst1 = [ ]

for i in lst:
    a = 0
    for j in i:
        if j% 2 != 0:
            a += j
    lst1.append(a)
print(lst1)

[24, 14, 15, 3]

In [157]:
lst = [[3,5,7,9],[8,2,5,9],[7,3,5,8],[8,3,2,6]]
lst2 = [[8,5,5,9],[3,2,7,9],[8,3,2,8],[7,3,5,6]]

for i in range(0,len(lst)-1,2):
    for j in range(0,len(lst[j])-1,2):
        lst[i][j],lst[i+1][j] = lst[i+1][j],lst[i][j]
print(lst)

[[8, 5, 5, 9], [3, 2, 7, 9], [8, 3, 2, 8], [7, 3, 5, 6]]

## tuple

In [158]:
tpl = ()
tpl1 = tuple()
tpl2 = (1,2,3,4,'hello')
print(tpl,tpl1,tpl2)

() () (1, 2, 3, 4, 'hello')

In [159]:
tpl = (5)
print(type(tpl))

<class 'int'>

In [162]:
tpl = (1,2,3,4,5,6,7)
tpl[1]

2

In [163]:
del tpl

In [165]:
tpl = (1,2,3,4,5)
print(id(tpl))
tpl +=(7,8,9)
print(tpl)
print(id(tpl))

2204046310944
(1, 2, 3, 4, 5, 7, 8, 9)
2204046336064

In [166]:
print(dir(tpl))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

## string

In [169]:
tpl = (1,2,3,4,4,5)
list(tpl)
tuple(tpl)

(1, 2, 3, 4, 4, 5)

In [180]:
str = "Let's Learn Python"
print(str[::-3])
print(str[7::4])
print(str[10:])
print(str[::3])
print(str[-3:-10:-5])
print(str[-2:])

nt a t
e h
n Python
L'LrPh
hn
on

In [182]:
s1 ="python"
s2 = "learnig"
s = s1 +s2
print(s)
print(s*4)

pythonlearnig
pythonlearnigpythonlearnigpythonlearnigpythonlearnig

In [183]:
print('o' in 'hello_world')
print('a'  not in 'hello_world')

True
True

In [188]:
x = 'PYTHON'
y = x.lower()
z = x.upper()
print(y,z)
a = 'hello world'
print(a.capitalize())

python PYTHON
Hello world

In [189]:
# split 
str = 'hello i am learning python'
lst = str.split()
print(lst)

['hello', 'i', 'am', 'learning', 'python']

In [191]:
str = "0001-1222-1111-33333"
lst = str.split(sep = '-')
print(lst)

['0001', '1222', '1111', '33333']

In [193]:
lst= ['0001', '1222', '1111', '33333']
lst1 = "-".join(lst)
lst1

'0001-1222-1111-33333'

In [203]:
date = eval(input('enter the date '))
print(date) 
x = date.split(sep = "/")
day = x[0]
month = x[1]
year = x[2]
print('day = ',  day)
print('month = ' , month)
print('year = ', year)

01/02/2002
day =  01
month =  02
year =  2002

In [214]:
x = eval(input('enter the string: '))
y = x.split()
index = 0 
word = " "
for i in range(len(y)): 
    if len(y[i])> len(word):
        word = y[i]
print(word, len(word))

string: 7

In [217]:
#wap to check the word is plandrome or not
str = input("enter the string: ")

if str[::] == str[::-1]:
    print('the string is palandrone ')
else:
    print('no')

the string is palandrone

In [227]:
x = "Hello,everyone.let's ,learn.python."
x = x.replace (',','#')
x = x.replace('.', ',')
x = x.replace('#',".")
print(x)

Hello.everyone,let's .learn,python,

## Set

In [234]:
# muitable 
# stores immutable elements
# unordered
#{}
st = {}
st= set()
st = {"hello",1,2,3,4,4,6.99}
st

{1, 2, 3, 4, 6.99, 'hello'}

In [235]:
s = {1,2}
s.add(3)
s

{1, 2, 3}

In [236]:
s = {1,2,3}
s.update([1,2,3,4,5,])
s

{1, 2, 3, 4, 5}

In [243]:
s = {1,2,3,4,5}
s.remove(4)# if element is not present it will show error 
s.discard(6) # if element is not present it will not show error 
print(s)

{1, 2, 3, 5}

In [247]:
s = {1,2,3,4,5}
# pop rendomly delete one element 
a = s.pop()
print(a)
print(s)

1
{2, 3, 4, 5}

In [250]:
s = {1,2,3,4,5}
s.clear()# remove all elements

print(s)

set()

In [252]:
s = {1,2,3,4,5}
del s# delete all elements of set and set itself

In [260]:
#wap which take string as input from user and count no. of unique no. characters in it 
str = input('enter the string')
st = set()
for char in str:
    st.add(char)
print(len(st))

4

In [269]:
str = 'hello how are you , how are they'
st = set()
for word in str:
    lst = str.split()
    lst = list(set(lst))
    lst = " ".join(lst)
print(lst)
print(len(lst))

hello how , they you are
24

In [278]:
str = 'hello how are you , how are they'
lst = str.split()
str2 = ""
for i in lst:
    if i not in str2:
        str2+=" "+ i
print(str2)

 hello how are you , they

In [280]:
str = 'hello how are you , how are they'
lst = str.split()
str2 = []
for i in lst:
    if i not in str2:
        str2.append(i)
str2 = " ".join(str2)
print(str2)

hello how are you , they

In [284]:
st ={1,2,3,4,5}
st1 = {3,4,5,6,7}

a = st |st1 # | union
print(a)
b  = st.union(st1)
print(b)
c = st & st1 # &  intersection
print(c)
d = st.intersection(st1)
print(d)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}

In [ ]:
st ={1,2,3,4,5}
st1 = {3,4,5,6,7}
a = st - st1 # - difference
print(a)
b  = st.difference(st1)
print(b)

{1, 2}
{1, 2}

In [286]:
st ={1,2,3,4,5}
st1 = {3,4,5,6,7}
a = st ^ st1 #  symmetric difference
print(a)
b  = st.symmetric_difference(st1)
print(b)

{1, 2, 6, 7}
{1, 2, 6, 7}

In [289]:
st = frozenset({1,2,3,4,5})
st1 = frozenset([3,4,5,6,7])
print(st,st1)
# frosen set is the immuitable part of set

frozenset({1, 2, 3, 4, 5}) frozenset({3, 4, 5, 6, 7})